$header: rgb(98, 218, 176);
$boldColor: #000000;
$red: rgb(255, 103, 103);
$blue: rgb(70, 136, 222);
$input: rgba(109, 93, 93, 0.149);
$formColor: rgba(61, 60, 60, 0.481);
$white: rgb(244, 244, 244);
